#sidebar {
	margin-top: 50px;
	padding-left: 20px;

	ul {
		list-style: none;

		li {
			margin-bottom: 10px;
		}
	}

	img {
		width: 100%;
		height: auto;
		object-fit: contain;
	}

	.tag-cloud-link {
		color: $white;
		background-color: $gray-600;
		border-radius: 16px;
		margin-bottom: 8px;
		padding: 5px 10px;
		display: inline-block;

		&:hover {
			color: $white;
			background-color: $blue;
		}
	}
}
