body {
	color: $black;
}

h1 {
	font-size: 1.8em;
}

#navbar {
	font-size: 1.2em;
}

.artwork{
	figcaption {
		a {
			font-size: 1.4em;
			font-weight: bold;
			line-height: 1.2;
			color: $white;
			text-shadow: -2px 2px 2px $blue;
		}
	}
}

#sidebar {
	font-size: 1.1em;

	a {
		color: $black;

		&:hover {
			color: $blue;
		}
	}
}

#footer {
	font-size: 1em;

	nav {
		font-size: 1.2em;
	}
}
