body {
	color: $black;
	font-weight: 200;
}

b, strong {
	font-weight: 600;
}

h1 {
	font-size: 1.8em;
}

#navbar {
	font-size: 1.2em;
	font-weight: 400;
}

.artwork{
	figcaption {
		a {
			font-size: 0;
			font-weight: bold;
			line-height: 1.2;
			color: $white;
			text-shadow: 1px 1px 3px $blue;
		}
	}

	&:hover {
		figcaption {
			a {
				font-size: 1.4em;
			}
		}
	}
}

#main {
	.post-navigation .btn {
		font-size: 14px;
	}
}

#sidebar {
	font-size: 1.1em;
	line-height: 1.2;

	a {
		color: $black;

		&:hover {
			color: $blue;
		}
	}

	figcaption {
		font-size: 12px;
	}
}

#footer {
	font-size: 1em;

	nav {
		font-size: 1.2em;
	}
}
